---
const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<h1>Funguje to! Pog</h1>
		<a href="https://docs.astro.build/en/tutorial/2-pages/1/">Tutorial</a>
		<footer class="blur">
			<small>Footer text <span id="rok"></span></small>
		</footer>
		<script>
			document.querySelector("#rok").textContent =
				new Date().getFullYear();
		</script>
	</body>
</html>
